.nav {
	background: $green;
	color: #FFF;
	max-height: 50px;
	min-width: 100vw;
	padding-top: 20px;
	ul {
		margin-left: 20%;
	}
	li {
		display: inline;
		padding: 20px;
	}
	.logo {
		padding-left: 20px;
		.leaf {
			margin-top: -5px;
			margin-right: -10%;
			display:inline;
			img {
				max-height: 70px;
				max-width: 70px;
				display:inline;
			}
		}
		h3 {
			margin-top: -10px;
		}
	}

}

