.specials {
	h1 {
		font-size: 1.7em;
		padding: 20px;
		margin-top: 2%;
		margin-bottom: 0;
	}
	.spc {
		h2 {
			font-size: 1.3em;
			padding: 15px;
			color: $blue;
			min-height: 80px;
			margin-bottom:0;
		}
		img {
			padding-left: 15px;
		}
		p {
			font-size: .9em;
			padding: 10px;

		}

	}
}